body {
	text-align: center;
}

h1 {
	color: rgb(2,132,130);
	}
h2 {
	color: #ffd700;
	}

.board {
	height: 50%;
	width: 50%;
	display: inline-block;
	float: left;
}

.card {
	height: 200px;
	width: 150px;
	border: 1px solid #000000;
	border-radius: 10px;
	background-color: rgb(255,255,0);
	float: left;
	margin: 8%;
}

.name {
	color: #ff0000;
	font-weight: bold;
}

nav {
	color: #000000;
	background-color: #808080;
	margin: 0;
	padding: 0;
}

nav a {
	text-decoration: none;
	background-color: #ffbf00;
	color: #ffffff;
	padding: 35px;
	display: block;
	float: left;
}

nav a:hover {
	background-color: #ee5f3c;
}

.clearfix:after {
	visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}

footer {
	clear: both;
	background-color: #808080;
}